{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid align-items-center">
            <div class="col-md-auto">
                <div class="row justify-content-md-center align-items-center">
                    <h2>Login</h2>
                </div>
                <div class="container-fluid align-items-center">
                    <div class="row justify-content-md-center align-items-center">
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                        <div class="row justify-content-md-center align-items-center">
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-md-auto mt-1">
                <div class="row justify-content-md-center align-items-center">
                <a class="btn btn-outline-secondary" href="{% provider_login_url 'google' %}">Google</a>
                <a class="btn btn-outline-secondary" href="{% provider_login_url 'stackexchange' %}">StackEx</a>
                </div>
            </div>
</div>


{% endblock %}