{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}

<h1>Check your inbox</h1>
<p> We've emailed instructions. You should receive them shortly.</p>

{% endblock %}