{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}

<h1>Password reset complete</h1>
<p>Your new password was set. Click <a href="{% url 'login' %}">here</a> to login.</p>

{% endblock %}