{% extends 'base.html' %}

{% block title %}Forgot Password?{% endblock %}

{% block content %}

<h1>Forgot your password?</h1>
<p>Enter your email address below, we'll email instructions for setting up a new password.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Send me instructions">
</form>

{% endblock %}