{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}

<h1>Password change</h1>
<p>Please enter old password, then enter new password twice to verify new.</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Change my password">
</form>

{% endblock %}