{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>posted {{ object.created | timesince }}</p>
    <p>"{{ object.body }}"</p>
    <p>{{ object.created }} <br>
       <span>{{ object.author }}</span>
    </p>
</div>


{% if object.author == user %}
    <p>
        <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a>
    </p>
    {% endif %}
    <div class="comment-entry">
    <p>
        {% for comment in article.comments.all %}
    <p>
        {{ comment }}
         <span>{{ comment.author }}</span>
         <span>Created on: {{ comment.created }} | Edited on: {{ comment.modified }}</span>
    </p>

    {% empty %}
        <p>No comments...</p>
    {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    <br>

    </div>
<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>

{% endblock content %}