{% extends 'base.html' %}

{% block content %}

<h1>New article</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
</form>

{% endblock %}