{% extends 'base.html' %}

{% block title %}Articles{% endblock %}

{% block content %}
{% for article in object_list %}
    <div class="card" xmlns="http://www.w3.org/1999/html">
        <div class="card-header">
            <span class="font-weight-bold"><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a> </span> &middot;
            <span class="text-muted">by {{ article.author }} on {{ article.created }}</span>
        </div>
        <div class="card-body">
            <p>{{ article.body }}</p>
            {% if article.author == user %}
            <a href="{% url 'article_edit' article.pk %}">Edit</a> |
            <a href="{% url 'article_delete' article.pk %}">Delete</a>
            {% endif %}
        </div>
     <div class="card-footer">
     {% if article.comments.count == 0 %}
        <p>No comments...</p>
     {% else %}
            <p>Comments: {{ article.comments.count }}</p>
            {% for comment in article.comments.all %}
            <p>
                <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                {{ comment }}
                <span>{{ comment.modified }}</span>
                <span>{{ comment.article.pk }}</span>
            </p>
            {% endfor %}
        {% endif %}
        </div>
    </div>
<br />
{% endfor %}
{% endblock content %}