{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">

            <div class="jumbotron">
            <h1 class="display-3">Newspaper App</h1>
             <p class="lead"><a class="btn btn-primary btn-lg btn-block" href="{% url 'article_list' %}" role="button">View All Articles</a></p>

        </div>
    </div>




{% endblock %}